<!doctyp html>

<html>
   <head>
      <title>{{ title }}</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../static/layout.css" type="text/css">
      <!-- Bootstrap Link -->
   </head>
   
   <body>
      <header>
         <h1>SSH Monitoring Tool</h1>
      </header>
    
      <main>
         <div class="cmds">   
            <a href="{{url_for('index')}}">home</a>
            <a href="{{url_for('sh_clock')}}">sh_clock</a>
            <a href="{{url_for('sh_run')}}">sh_run</a>
            <a href="{{url_for('sh_ip_int_br')}}">sh_ip_int_br</a>
            <a href="{{url_for('sh_int')}}">sh_int</a>
         </div>
         
         <div class="content">
            {% block content %}{% endblock content %}
         </div>
      </main>
   </body>
</html>
